div.footer.bg-light
  .leftmost
    p @copyrights2020
  .middle  
    img(src='https://jeshan26.github.io/Json/logo.png'  alt='Company Logo' style='width:100px; height:100px;') 
  .rightmost
    p Contact us -xxx-xxx-xxx
    img(src="https://jeshan26.github.io/Json/facebook.png", alt="facebook-icon" style='width:40px; height:40px;') 
    img(src="https://jeshan26.github.io/Json/twitter.png", alt="twitter-icon" style='width:40px; height:40px;') 
    img(src="https://jeshan26.github.io/Json/insta.png", alt="instagram-icon" style='width:40px; height:40px;')