doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css') 
    include ./partials/header

  body
    block content
    script(src="/javascripts/bootstrap.min.js")
  footer
    include ./partials/footer